:root {
  --bg-blue: #264057;
  --aside-blue: #43627d;
  --nav-blue: #5f98cd;
  --icons-nav: #b2daff;
  --icon-aside: #93b2cd;
}


* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

h1,
h2,
h3,
p,
ul {
  margin: 0;
  padding: 0;
}

.frame {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 400px;
  height: 400px;
  margin-top: -200px;
  margin-left: -200px;
  border-radius: 2px;
  box-shadow: 4px 8px 16px 0 rgba(0, 0, 0, 0.1);
  overflow: hidden;
  background: var(--bg-blue);
  color: #333;
  font-family: 'Open Sans', Helvetica, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.center {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 300px;
  height: 300px;
  background-color: #fff;
}

header {
  background: var(--nav-blue);
  width: 100%;
  display: flex;
  justify-content: space-between;
  padding: 20px;
  align-items: center;
}

i {
  color: var(--icons-nav);
}

.aside-bar {
  display: flex;
  flex-direction: column;
  justify-content: center;
}


.line-1__asd-bar {
  height: 3px;
  width: 28px;
  background-color: var(--icons-nav);
  margin: 4px;
  border-radius: 20px;
}

.line-1__asd-bar::after {
  content: "";
  height: 7px;
  width: 7px;
  background-color: var(--icons-nav);
  border-radius: 50%;
  outline: solid 2.5px var(--nav-blue);
  position: absolute;
  top: 22px;
  left: 46px;
}

.line-2__asd-bar {
  height: 3px;
  width: 28px;
  background-color: var(--icons-nav);
  margin: 4px;
  border-radius: 20px;
}

h1 {
  color: #fff;
  font-size: 15px;
  font-weight: 600;
}

.notification-board {
  display: flex;
  flex-direction: row;
}

.left-board {
  width: 3.5px;
  height: 238.3px;
  background-color: #ddd;
  margin-left: 22px;
}

.right-board span {
  font-size: 12px;
}

.right-board {
  color: #666;
  font-size: 15.5px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 24px 20px 24px 14px;
}

.notification {
  display: flex;
  flex-direction: row;
}

.notification::before {
  content: '';
  width: 8px;
  height: 8px;
  border-radius: 50%;
  border: 3px solid var(--nav-blue);
  background-color: #fff;
  display: block;
  position: absolute;
  left: 17px;
  margin-top: 3px;
  box-shadow: 0px 0px 0px 3px rgba(255,255,255,1);
  -webkit-box-shadow: 0px 0px 0px 3px rgba(255,255,255,1);
  -moz-box-shadow: 0px 0px 0px 3px rgba(255,255,255,1);
}

aside {
  display: none;
}