* {
    margin: 0;
    padding: 0;
}

.frame {
    position: absolute;
    top: 50%;
    left: 50%;
    width: 400px;
    height: 400px;
    margin-top: -200px;
    margin-left: -200px;
    border-radius: 2px;
    box-shadow: 4px 8px 16px 0 rgba(0, 0, 0, 0.1);
    overflow: hidden;
    background: #42a7a1;
    color: #333;
    font-family: 'Open Sans', Helvetica, sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.center {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 75%;
    height: 60%;
}

.inline {
    display: inline;
}


.flex-right {
    display: flex;
    justify-content: right;
}

/*HEADER*/

.header-section {
    background-color: #f1ba64;
    display: flex;
    width: 100%;
    height: 25%;
    color: #fff;
    align-items: center;
    border-top-left-radius: 2.5px;
    border-top-right-radius: 2.5px;
}

.header-left {
    width: 60%;
    margin-left: 5%;
}


.h2-header {
    font-size: 15px;
}

.h3-header {
    font-size: 12px;
    font-weight: 400;
}

.header-right {
    position: absolute;
    right: 5%;
}




/*REFERENCE*/

.reference {
    padding: 10px;
}

.purchases__line {
    width: 11px;
    height: 2.5px;
    background-color: #7ba2ff;
    display: block;
    position: absolute;
    right: 69.6px;
    top: 79.5px;
    border-radius: 3px;
}

.views__line {
    width: 11px;
    height: 2.5px;
    background-color: #fa7373;
    display: block;
    position: absolute;
    right: 137.6px;
    top: 79.5px;
    border-radius: 3px;
}

.reference-txt {
    font-weight: 100;
    font-size: 11px;
    color: #626262;
    margin-left: 38px;
}


.days>h3 {
    display: inline;
    font-weight: 100;
    color: #949494;
    font-size: 12px;
}



.graphics {
    background-color: #fff;
    border-bottom-left-radius: 2.5px;
    border-bottom-right-radius: 2.5px;
}


.red {
    background-color: #fa7373;
    position: absolute;
}

.red-graphic>.line-1 {
    width: 48px;
    height: 2px;
    rotate: -42deg;
    top: 120px;
    left: 15px;
}

.red-graphic>.line-2 {
    width: 42px;
    height: 2px;
    rotate: 15deg;
    top: 109px;
    left: 58px;
}

.red-graphic>.line-3 {
    width: 40px;
    height: 2px;
    rotate: -14deg;
    top: 110px;
    left: 101px;
}

.red-graphic>.line-4 {
    width: 50px;
    height: 2px;
    rotate: 34deg;
    top: 119px;
    left: 139px;
}

.red-graphic>.line-5 {
    width: 46px;
    height: 2px;
    rotate: 15deg;
    top: 140px;
    left: 186px;
}

.red-graphic>.line-6 {
    width: 56px;
    height: 2px;
    rotate: -33deg;
    top: 131px;
    left: 229px;
}

.red-graphic>.spot-1 {
    width: 6px;
    height: 6px;
    clip-path: circle(50% at 50% 50%);
    top: 133px;
    left: 20.5px;
}

.red-graphic>.spot-2 {
    width: 6px;
    height: 6px;
    clip-path: circle(50% at 50% 50%);
    top: 102px;
    left: 55.1px;
}


.red-graphic>.spot-3 {
    width: 6px;
    height: 6px;
    clip-path: circle(50% at 50% 50%);
    top: 113px;
    left: 98px;
}


.red-graphic>.spot-4 {
    width: 6px;
    height: 6px;
    clip-path: circle(50% at 50% 50%);
    top: 103px;
    left: 140px;
}

.red-graphic>.spot-5 {
    width: 6px;
    height: 6px;
    clip-path: circle(50% at 50% 50%);
    top: 132px;
    left: 183px;
}


.red-graphic>.spot-6 {
    width: 6px;
    height: 6px;
    clip-path: circle(50% at 50% 50%);
    top: 144px;
    left: 230.5px;
}


.red-graphic>.spot-7 {
    width: 6px;
    height: 6px;
    clip-path: circle(50% at 50% 50%);
    top: 114px;
    left: 278px;
}


.blue {
    background-color: #7ba2ff;
    position: absolute;
}

.blue-graphic>.line-1 {
    width: 38px;
    height: 2px;
    rotate: -16deg;
    top: 147px;
    left: 22px;
}

.blue-graphic>.spot-1 {
    width: 6px;
    height: 6px;
    clip-path: circle(50% at 50% 50%);
    top: 150px;
    left: 22px;
}


.blue-graphic>.line-2 {
    width: 40px;
    height: 2px;
    rotate: 17deg;
    top: 148px;
    left: 60px;
}

.blue-graphic>.spot-2 {
    width: 6px;
    height: 6px;
    clip-path: circle(50% at 50% 50%);
    top: 140.5px;
    left: 56px;
}


.blue-graphic>.line-3 {
    width: 38px;
    height: 2px;
    rotate: -14deg;
    top: 149.5px;
    left: 100px;
}

.blue-graphic>.spot-3 {
    width: 6px;
    height: 6px;
    clip-path: circle(50% at 50% 50%);
    top: 152px;
    left: 97.5px;
}


.blue-graphic>.line-4 {
    width: 40px;
    height: 2px;
    rotate: 8deg;
    top: 147.5px;
    left: 142px;
}

.blue-graphic>.spot-4 {
    width: 6px;
    height: 6px;
    clip-path: circle(50% at 50% 50%);
    top: 143px;
    left: 137px;
}


.blue-graphic>.line-5 {
    width: 48px;
    height: 2px;
    rotate: 15deg;
    top: 157px;
    left: 184px;
}

.blue-graphic>.spot-5 {
    width: 6px;
    height: 6px;
    clip-path: circle(50% at 50% 50%);
    top: 149px;
    left: 180px;
}


.blue-graphic>.line-6 {
    width: 44px;
    height: 2px;
    rotate: -14deg;
    top: 159px;
    left: 234px;
}

.blue-graphic>.spot-6 {
    width: 6px;
    height: 6px;
    clip-path: circle(50% at 50% 50%);
    top: 162px;
    left: 231px;
}

.blue-graphic>.spot-7 {
    width: 6px;
    height: 6px;
    clip-path: circle(50% at 50% 50%);
    top: 151px;
    left: 277px;
}




.graph-line__1 {
    background-color: #e1e1e1;
    width: 280px;
    height: .5px;
    margin: 0 10px;
}

.graph-line__2 {
    background-color: #e1e1e1;
    width: 280px;
    height: .5px;
    margin: 0 10px;
    margin-top: 35px;
}

.graph-line__3 {
    background-color: #e1e1e1;
    width: 280px;
    height: .5px;
    margin: 0 10px;
    margin-top: 35px;
}

.days {
    display: flex;
    justify-content: center;
    padding: 15px 10px 16px 10px;
}

.days>h3 {
    margin: 0 11px;
    font-size: 10px;
}