.frame {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 400px;
  height: 400px;
  margin-top: -200px;
  margin-left: -200px;
  border-radius: 2px;
	box-shadow: 4px 8px 16px 0 rgba(0,0,0,0.1);
	overflow: hidden;
  background: #fff;
  color: #333;
	font-family: 'Open Sans', Helvetica, sans-serif;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
    background-color: #3faf82;
}

.center {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
}

.bar {
    width: 70px;
    height: 7.5px;
    background-color: #fff;
    border-radius: 3px;
    -webkit-box-shadow: 1px 2px 3px 1px rgba(0,0,0,0.30);
    -moz-box-shadow: 1px 2px 3px 1px rgba(0,0,0,0.30);
    box-shadow: 1px 2px 3px 1px rgba(0,0,0,0.30);
    margin: 10px;
}